.heroWrapper {
  @apply flex flex-col h-screen;
  @apply m-0 p-0;
}

.topCard {
  @apply flex flex-col items-center justify-center bg-cover bg-center;
  background-image: url('/image.jpg');
  flex: 0 0 50%;
}

.topCardForm {
  @apply flex flex-col my-4;
}

.bottomCardsWrapper {
  @apply flex flex-col flex-grow;
  @apply m-0 p-0;
}

.bottomCard {
  @apply flex flex-col w-full;
  height: 25vh;
  @apply border border-gray-200;
  @apply shadow-sm;
  @apply mb-2;
}

.bottomCardImage {
  @apply ml-2 mt-2;
}

.bottomCardParagraph {
  @apply text-base text-justify p-2;
}

.bottomCardLink {
  @apply px-4 py-2 ml-2 bg-blue-500 font-bold text-white rounded-md;
  @apply no-underline;
  @apply hover:bg-blue-700 hover:shadow-lg;
  @apply transition-all duration-300 ease-in-out;
  width: fit-content;
}

@media (min-width: 768px) {
  .topCardForm {
    @apply flex flex-row items-center justify-center gap-4;
  }

  .topCardFormTextInput {
    @apply flex-grow h-12 p-3 rounded-md text-base; /* Adjusted for alignment */
  }

  .topCardFormTextButton {
    @apply h-12 w-40 bg-red-500 text-lg font-bold text-white rounded-md;
    @apply hover:bg-red-700 hover:shadow-lg transition-all duration-300 ease-in-out;
  }
}
