.heroWrapperSM {
  @apply flex flex-col;
}

.topCardSM {
  @apply flex flex-col items-center justify-center w-1/2 h-1/2 bg-cover bg-center;
  background-image: url('/image.jpg');
  height: 50vh;
  width: 50vh;
}

.topCardFormSM {
  @apply flex flex-col my-4;
}

.topCardFormTextInputSM {
  @apply p-4 rounded-md text-base;
  @apply focus:outline-none focus:ring-2 focus:ring-blue-400;
  @apply hover:ring-2 hover:ring-gray-300;
  @apply transition-all duration-200 ease-in-out
}

.topCardFormTextButtonSM {
  @apply bg-red-500 text-lg font-bold text-white rounded-md mt-5;
  @apply hover:bg-red-700 hover:shadow-lg;
  height: 3rem;
  @apply transition-all duration-300 ease-in-out
}

/*
    comment
  */

